workspace.xml
*.cbp
compile_commands.json
documentation/CLionStyle.xml
domusEngine/pistache
domusEngine/.idea
rasberry
.idea
zigbeeLibTest
CMakeTmp
cmake_uninstall.cmake


zigbee_lib/src/test/zigbeeLibTest
.cproject
.settings
*.iml/
*.bin
.gradle
local.properties
.idea/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
moc*
ui*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
domusEngine/.cproject
domusEngine/.project
domusEngine/.idea
domusEngine/.settings
*.iml
build

.cproject
.project
.idea
.settings

#cmake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
